In [8]:
import requests
import pandas as pd
import time
import random
import re
import numpy as np
import _pickle as pickle
from tqdm import tqdm_notebook as tqdm
from bs4 import BeautifulSoup as bs


## Using BeautifulSoup

# Randomizing the refresh rate
# seq = [i/10 for i in range(8,18)]

# Creating a list of bios
biolist = []

# Gathering bios by looping and refreshing the web page
for i in tqdm(range(50)):
    
    # Refreshing the page
#     page = requests.get("https://www.twitterbiogenerator.com/")
#     soup = bs(page.content, "lxml")
    
#     try:
#         # Getting the bios
#         bios = soup.findAll('textarea')[0].string
#         print(bios)

#         # Adding to a list of the bios
#         biolist.extend([re.findall('"([^"]*)"', i.text) for i in bios])
#     except:
#         pass
    biolist.append("user"+str(i))
    
#     # Sleeping 
#     time.sleep(random.choice(seq))
    
# Creating a DF from the bio list
bio_df = pd.DataFrame(biolist, columns=['Bios'])
bio_df

HBox(children=(IntProgress(value=0, max=50), HTML(value='')))

      Bios
0    user0
1    user1
2    user2
3    user3
4    user4
5    user5
6    user6
7    user7
8    user8
9    user9
10  user10
11  user11
12  user12
13  user13
14  user14
15  user15
16  user16
17  user17
18  user18
19  user19
20  user20
21  user21
22  user22
23  user23
24  user24
25  user25
26  user26
27  user27
28  user28
29  user29
30  user30
31  user31
32  user32
33  user33
34  user34
35  user35
36  user36
37  user37
38  user38
39  user39
40  user40
41  user41
42  user42
43  user43
44  user44
45  user45
46  user46
47  user47
48  user48
49  user49

In [10]:
qs = ['Movies',
      'TV',
      'Religion',
      'Music',
      'Sports',
      'Books',
      'Politics']

# Creating a DF of the questions/categories
topic_df = pd.DataFrame(columns=qs)

# Filling in Data
for i in topic_df.columns:
    
    # Range of numbers to represent different labels in each category
    topic_df[i] = np.random.randint(0,10, bio_df.shape[0])
    
    # Logic: The numbers represent a specific choice within the categories
    # So your number 1 preferred artist/song/album under the Music, your one favorite movie, etc.
    
# Joining the two dataframes
final_df = bio_df.join(topic_df)
final_df

# Exporting the complete DF
with open("profiles.pkl", "wb") as fp:
    pickle.dump(final_df, fp)
    
final_df

      Bios  Movies  TV  Religion  Music  Sports  Books  Politics
0    user0       2   3         7      3       2      0         1
1    user1       7   2         4      5       6      3         0
2    user2       9   7         2      6       0      6         3
3    user3       2   4         4      2       5      8         1
4    user4       2   3         2      7       7      3         9
5    user5       3   4         7      1       9      1         3
6    user6       6   0         0      2       9      6         3
7    user7       0   0         9      5       5      2         3
8    user8       1   2         9      0       2      9         9
9    user9       1   8         1      1       3      1         5
10  user10       0   9         6      1       6      6         5
11  user11       9   9         2      3       5      9         3
12  user12       0   2         4      4       7      2         1
13  user13       8   0         4      5       8      3         9
14  user14       4   4         4      6       7      5         6
15  user15       2   4         4      9       1      6         5
16  user16       3   2         9      2       7      3         5
17  user17       2   4         0      6       3      2         5
18  user18       0   4         7      8       8      6         7
19  user19       3   1         9      4       9      7         5
20  user20       1   3         6      9       8      7         0
21  user21       9   3         2      5       1      9         3
22  user22       8   8         1      6       1      9         8
23  user23       7   3         8      0       7      5         4
24  user24       9   0         6      3       0      4         7
25  user25       5   0         2      2       7      8         6
26  user26       0   3         5      7       0      8         4
27  user27       3   6         4      4       9      5         4
28  user28       9   1         3      0       9      2         1
29  user29       9   6         1      7       4      5         4
30  user30       4   6         5      7       7      0         7
31  user31       2   3         8      1       7      4         8
32  user32       3   1         8      1       7      4         2
33  user33       1   4         6      8       3      0         0
34  user34       5   4         6      1       4      0         1
35  user35       6   8         8      9       1      6         3
36  user36       2   8         5      4       7      7         2
37  user37       3   2         5      1       3      7         5
38  user38       8   0         8      8       8      9         5
39  user39       1   9         3      9       1      6         5
40  user40       4   2         7      2       8      4         7
41  user41       3   1         1      2       1      0         4
42  user42       4   5         4      1       5      4         3
43  user43       5   3         0      6       4      6         9
44  user44       7   2         8      6       5      7         2
45  user45       6   9         8      0       8      9         5
46  user46       9   1         3      3       2      9         6
47  user47       9   0         5      0       9      4         3
48  user48       7   1         4      8       2      5         0
49  user49       6   6         7      7       4      2         1

In [11]:
from sklearn.cluster import KMeans

In [15]:
data = final_df.drop(columns=['Bios'])
kmeans = KMeans(n_clusters=7)
kmeans.fit(data)
print(kmeans.cluster_centers_)
final_df['Cluster'] = kmeans.fit_predict(data)
final_df

[[4.42857143 2.85714286 4.28571429 6.71428571 7.         4.57142857
  7.42857143]
 [2.57142857 6.28571429 5.28571429 3.         6.85714286 6.57142857
  2.85714286]
 [3.         4.83333333 4.         8.         1.33333333 5.5
  3.66666667]
 [3.27272727 2.         7.90909091 2.09090909 6.27272727 4.81818182
  4.81818182]
 [8.85714286 4.85714286 2.42857143 4.71428571 1.85714286 7.28571429
  4.85714286]
 [7.25       0.25       2.5        1.         8.5        5.
  3.25      ]
 [3.125      3.75       4.5        3.875      3.75       1.
  1.625     ]]

      Bios  Movies  TV  Religion  Music  Sports  Books  Politics  Cluster
0    user0       2   3         7      3       2      0         1        2
1    user1       7   2         4      5       6      3         0        4
2    user2       9   7         2      6       0      6         3        0
3    user3       2   4         4      2       5      8         1        1
4    user4       2   3         2      7       7      3         9        5
5    user5       3   4         7      1       9      1         3        2
6    user6       6   0         0      2       9      6         3        4
7    user7       0   0         9      5       5      2         3        2
8    user8       1   2         9      0       2      9         9        1
9    user9       1   8         1      1       3      1         5        2
10  user10       0   9         6      1       6      6         5        1
11  user11       9   9         2      3       5      9         3        0
12  user12       0   2         4      4       7      2         1        2
13  user13       8   0         4      5       8      3         9        4
14  user14       4   4         4      6       7      5         6        5
15  user15       2   4         4      9       1      6         5        6
16  user16       3   2         9      2       7      3         5        3
17  user17       2   4         0      6       3      2         5        5
18  user18       0   4         7      8       8      6         7        3
19  user19       3   1         9      4       9      7         5        3
20  user20       1   3         6      9       8      7         0        3
21  user21       9   3         2      5       1      9         3        0
22  user22       8   8         1      6       1      9         8        0
23  user23       7   3         8      0       7      5         4        4
24  user24       9   0         6      3       0      4         7        0
25  user25       5   0         2      2       7      8         6        4
26  user26       0   3         5      7       0      8         4        6
27  user27       3   6         4      4       9      5         4        5
28  user28       9   1         3      0       9      2         1        4
29  user29       9   6         1      7       4      5         4        0
30  user30       4   6         5      7       7      0         7        5
31  user31       2   3         8      1       7      4         8        3
32  user32       3   1         8      1       7      4         2        3
33  user33       1   4         6      8       3      0         0        2
34  user34       5   4         6      1       4      0         1        2
35  user35       6   8         8      9       1      6         3        6
36  user36       2   8         5      4       7      7         2        1
37  user37       3   2         5      1       3      7         5        1
38  user38       8   0         8      8       8      9         5        3
39  user39       1   9         3      9       1      6         5        6
40  user40       4   2         7      2       8      4         7        3
41  user41       3   1         1      2       1      0         4        2
42  user42       4   5         4      1       5      4         3        1
43  user43       5   3         0      6       4      6         9        5
44  user44       7   2         8      6       5      7         2        3
45  user45       6   9         8      0       8      9         5        1
46  user46       9   1         3      3       2      9         6        0
47  user47       9   0         5      0       9      4         3        4
48  user48       7   1         4      8       2      5         0        0
49  user49       6   6         7      7       4      2         1        6

In [18]:
def get_matches(user, df):
    matches = []
    for i in range(len(df)):
        if df['Bios'][i] == user:
            cluster = df['Cluster'][i]
    for j in range(len(df)):
        if df['Cluster'][j] != cluster:
            matches.append(df['Bios'][j])
    return matches

print(get_matches("user35", final_df))

['user0', 'user1', 'user2', 'user3', 'user4', 'user5', 'user6', 'user7', 'user8', 'user9', 'user10', 'user11', 'user12', 'user13', 'user14', 'user16', 'user17', 'user18', 'user19', 'user20', 'user21', 'user22', 'user23', 'user24', 'user25', 'user27', 'user28', 'user29', 'user30', 'user31', 'user32', 'user33', 'user34', 'user36', 'user37', 'user38', 'user40', 'user41', 'user42', 'user43', 'user44', 'user45', 'user46', 'user47', 'user48']